    <!-- Custom Theme Style -->
    <link href="/static/css/custom.css" rel="stylesheet">
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="index.html" class="site_title"><i class="fa fa-rocket"></i> <span>Zabbix 数据汇总</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile">
              <div class="profile_pic">
                <img src="/static/images/img.jpg" alt="..." class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>Welcome,</span>
                <h2>root</h2>
              </div>
            </div>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">
                  <li><a href="/dashboard"><i class="fa fa-dashboard"></i> Dashboard </a></li>
                  <li><a><i class="fa fa-cubes"></i>Salt Stack<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="/salt/key_list">salt key</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-truck"></i>资产管理<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="/assets/hosts">主机信息</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-bell"></i> 告警 <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/oracle">Database</a>
                      </li>
                      <li><a href="/aler">告警汇总</a>
                      </li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-cloud"></i> Hadoop <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="http://192.168.9.7:7195" target="_blank">北京CU_Hadoop</a></li>
                        <li><a href="http://192.168.9.13:7182" target="_blank">吉林CU_Hadoop</a></li>
                        <li><a href="http://192.168.9.8:7184" target="_blank">陕西CU_Hadoop</a></li>
                        <li><a href="http://192.168.9.11:7186" target="_blank">青海CU_Hadoop</a></li>
                        <li><a href="http://192.168.9.6:7189" target="_blank">贵州CU_Hadoop</a></li>
                        <li><a href="http://192.168.9.10:7190" target="_blank">新疆CU_Hadoop</a></li>
                        <li><a href="http://192.168.9.14:7191" target="_blank">天津CU_Hadoop</a></li>
                        <li><a href="http://192.168.9.5:7192" target="_blank">上海CU_Hadoop</a></li>
                        <li><a href="http://192.168.9.12:7193" target="_blank">甘肃CU_Hadoop</a></li>
                        <li><a href="http://192.168.9.9:7198" target="_blank">山西CU_Hadoop</a></li>
                        <li><a href="http://192.168.9.4:7200" target="_blank">浙江1CU_Hadoop</a></li>
                        <li><a href="http://192.168.9.28:7201" target="_blank">浙江2CU_Hadoop</a></li>
                        <li><a href="http://192.168.9.23:7202" target="_blank">新疆省汇聚_Hadoop</a></li>
                        <li><a href="http://192.168.9.18:7203" target="_blank">省汇聚黑龙江_Hadoop</a></li>
                        <li><a href="http://192.168.9.19:7204" target="_blank">省汇聚山西_Hadoop</a></li>
                        <li><a href="http://192.168.9.22:7205" target="_blank">省汇聚甘肃_Hadoop</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-bullhorn"></i> Zabbix <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="http://219.134.132.194:8008/zabbix" target="_blank">绿网Zabbix</a></li>
                        <li><a href="http://192.168.9.7:10081/zabbix" target="_blank">北京CU_Zabbix</a></li>
                        <li><a href="http://192.168.9.13:10082/zabbix/index.php" target="_blank">吉林CU_Zabbix</a></li>
                        <li><a href="http://192.168.9.6:10083/zabbix" target="_blank">贵州CU_Zabbix</a></li>
                        <li><a href="http://192.168.9.8:10084/zabbix" target="_blank">陕西CU_Zabbix</a></li>
                        <li><a href="http://192.168.9.10:10085" target="_blank">新疆CU_Zabbix</a></li>
                        <li><a href="http://192.168.9.11:10086/zabbix" target="_blank">青海CU_Zabbix</a></li>
                        <li><a href="http://192.168.9.5:10087/zabbix" target="_blank">上海CU_Zabbix</a></li>
                        <li><a href="http://192.168.9.9:10088/zabbix" target="_blank">山西CU_Zabbix</a></li>
                        <li><a href="http://192.168.9.4:10089/zabbix" target="_blank">浙江CU_Zabbix</a></li>
                        <li><a href="http://202.100.93.86:8008/zabbix" target="_blank">甘肃CU_Zabbix</a></li>
                        <li><a href="http://123.151.146.100:8008/zabbix" target="_blank">天津CU_Zabbix</a></li>
                        <li><a href="http://192.168.9.3:10090/zabbix" target="_blank">广东CU_Zabbix</a></li>
                        <li><a href="http://192.168.9.21:10091/zabbix" target="_blank">省汇聚吉林_Zabbix</a></li>
                        <li><a href="http://192.168.9.18:10092/zabbix" target="_blank">省汇聚黑龙江_Zabbix</a></li>
                        <li><a href="http://192.168.9.23:10093/zabbix" target="_blank">省汇聚新疆_Zabbix</a></li>
                    </ul>
                  </li>
                    </ul>
              </div>
            </div>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
              <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Logout">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a>
            </div>
            <!-- /menu footer buttons -->
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">

          <div class="nav_menu">
            <nav class="" role="navigation">
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>

              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img src="/static/images/img.jpg" alt="">John Doe
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a href="javascript:;">  Profile</a>
                    </li>
                    <li>
                      <a href="javascript:;">
                        <span class="badge bg-red pull-right">50%</span>
                        <span>Settings</span>
                      </a>
                    </li>
                    <li>
                      <a href="javascript:;">Help</a>
                    </li>
                    <li><a href="/logout/"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                    </li>
                  </ul>
                </li>

                <li role="presentation" class="dropdown">
                  <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-envelope-o"></i>
                    <span class="badge bg-green">6</span>
                  </a>
                  <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                    <li>
                      <a>
                        <span class="image">
                                          <img src="/static/images/img.jpg" alt="Profile Image" />
                                      </span>
                        <span>
                                          <span>John Smith</span>
                        <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                                          Film festivals used to be do-or-die moments for movie makers. They were where...
                                      </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image">
                                          <img src="/static/images/img.jpg" alt="Profile Image" />
                                      </span>
                        <span>
                                          <span>John Smith</span>
                        <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                                          Film festivals used to be do-or-die moments for movie makers. They were where...
                                      </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image">
                                          <img src="/static/images/img.jpg" alt="Profile Image" />
                                      </span>
                        <span>
                                          <span>John Smith</span>
                        <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                                          Film festivals used to be do-or-die moments for movie makers. They were where...
                                      </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image">
                                          <img src="/static/images/img.jpg" alt="Profile Image" />
                                      </span>
                        <span>
                                          <span>John Smith</span>
                        <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                                          Film festivals used to be do-or-die moments for movie makers. They were where...
                                      </span>
                      </a>
                    </li>
                    <li>
                      <div class="text-center">
                        <a>
                          <strong>See All Alerts</strong>
                          <i class="fa fa-angle-right"></i>
                        </a>
                      </div>
                    </li>
                  </ul>
                </li>

              </ul>
            </nav>
          </div>

        </div>
        <!-- /top navigation -->
